.notesContent {
  padding-top: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#notesButtons {
  z-index: 99;
  width: fit-content;
  background-color: transparent;
  max-height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.notesPage {
  margin: 0;
  padding: 0;
  padding-top: 4em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}
